@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-black: #2e382e;
    --color-white: #eff1ed;
    --color-brown: #8b786d;
    --color-green: #499167;
    --color-violet-light: #7e78d2;
    --color-violet-dark: #6f58c9;
  }
}

html,
body {
  height: 100%;
  
  background-color: var(--color-brown);
}

body {
  margin: 0;
}

* {
  color: var(--color-black);
  font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
}