.rs-input-group {
  height: 44px;
  border: none !important;
  outline: none !important;

  .rs-input {
    height: 100%;
    
    background-color: var(--color-input-fill) !important;
    border: 2px solid var(--color-input-border) !important;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 2px -1px var(--color-input-shadow);
    transition: none !important;

    &:hover, &:active, &:focus {
      border-color: var(--color-input-border-active) !important;
      box-shadow: 0 2px 2px -1px var(--color-input-shadow-active);
    }
  }
}

.rs-input-group-addon {
  height: 100% !important;
}

.rs-stack {
  height: 100%;
}

.rs-stack-item {
  top: 10px;
}

.rs-input,
.rs-stack-item {
  color: var(--color-input-text) !important;
  font-size: 1.125rem !important;
}

.rs-input-group.rs-input-group-inside
.rs-input-group-btn > .rs-icon {
  font-size: 18px !important;
}

.rs-radio-inline {
  margin-right: 20px !important;
}

.rs-radio-checker {
  .rs-radio-label {
    color: var(--color-white);
  }
}